.card {
    height: 396px;
    text-align: center;
}

.img-fluid {
    margin: 0 auto !important;
}

.action-buttons {
    margin: 0 auto;
    text-align: center;
}

.card a {
    padding: 3px;
    margin: 5px;
}

.card button {
    border: none;
}

.action-buttons div {
    display: inline-block;
}

@media (min-width: 920px) {
    .box {
        width: 35%;
    }
}